<div style="display: flex; flex-direction: column; justify-content: space-between;">
    <!-- START DATE -->
    <div class="date-field" style="display: block; margin-bottom: 5px;">
        <input type="text" name="startDateInput" id="startDateInput" class="hasDatepicker"
            uib-datepicker-popup="yyyy-MM-dd" popup-placement="bottom" ng-model="vm.dateFilterStart"
            ng-click="vm.openDatePicker($event, 'startDate')" is-open="vm.isDatePickerOpen.startDate" />
    </div>
    <!-- END DATE -->
    <div class="date-field" style="display: block; margin-bottom: 5px;">
        <input type="text" name="startDateInput" id="startDateInput" class="hasDatepicker"
            uib-datepicker-popup="yyyy-MM-dd" popup-placement="bottom" ng-model="vm.dateFilterEnd"
            ng-click="vm.openDatePicker($event, 'endDate')" is-open="vm.isDatePickerOpen.endDate" />
    </div>
    <!-- APPLY BUTTON -->
    <div style="display: block;">
        <button class="btn btn-default" ng-click="vm.getFilteredEvents()">
            <span translate="common.apply"></span>
        </button>
    </div>
</div>
