<div class="event-options">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.closeModal()">
            &times;
        </button>
        <h3 ng-if="!!vm.options.length" class="modal-title" translate="events.messageConfirmOptions"></h3>
        <h3 ng-if="!vm.options.length && !vm.isAddColleague" class="modal-title" translate="events.joinTitle"></h3>
        <h3 ng-if="!vm.options.length && vm.isAddColleague" class="modal-title"
            translate="events.eventAddColleaguesTitle"></h3>
    </div>
    <div class="modal-body">
        <p ng-if="!!vm.options.length" ng-cloak data-test-id="maximum-options">
            {{:: vm.messageMaximumOptions}}
        </p>

        <p ng-if="!!vm.options.length" class="row-margin text-error">
            <span ng-show="vm.isTooManyOptionsSelected()" translate="errorCodeMessages.messageTooManyOptionsProvided"
                data-test-id="too-many-options-selected">
            </span>
        </p>

        <div class="row row-options">
            <div ng-repeat="option in vm.options" class="col-xs-6 {{vm.inputType}}">
                <label for="selectedOption{{option.id}}" uib-tooltip="{{option.option}}" tooltip-placement="bottom"
                    tooltip-append-to-body="true" data-test-id="option-to-select">
                    <input id="selectedOption{{option.id}}" type="{{vm.inputType}}" name="option"
                        ng-click="vm.selectOption(option)" data-test-id="option-check-box"
                        ng-checked="vm.isOptionSelected(option.id)" />
                    {{option.option}}
                </label>
            </div>
        </div>

        <tags-input ng-if="vm.isAddColleague" id="participants" name="participants" ng-model="vm.participants"
            add-from-autocomplete-only="true" display-property="fullName" key-property="id"
            ng-attr-placeholder="{{'events.addFriends' | translate}}" add-on-enter="true" add-on-space="true"
            add-on-comma="true" add-on-blur="true" replace-spaces-with-dashes="false" wrapped translate-cloak>
            <auto-complete source="vm.getUserForAutoComplete($query)" min-length="1" max-results-to-show="5"
                debounce-delay="500"></auto-complete>
        </tags-input>

        <div class="mt-10 event-add-colleagues-attend-status-container" ng-if="vm.isAddColleague">
            <span class="mr-5" translate="events.eventAddColleagueSelectLabel"></span>
            <select ng-show="vm.availableAddColleagueStatuses.length > 1"
                ng-init="vm.colleagueStatusOption = vm.availableAddColleagueStatuses[0]"
                class="event-add-colleagues-attend-status-select pull-right" ng-model="vm.colleagueStatusOption"
                ng-options="option.translation | translate for option in vm.availableAddColleagueStatuses">
            </select>
            <span class="bold" ng-if="vm.availableAddColleagueStatuses.length === 1"
                translate="{{vm.colleagueStatusOption.translation}}">
            </span>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.joinEvent()"
            ng-disabled="vm.isOptionsJoinAvailable() || vm.isActionDisabled" data-test-id="join-event-modal-button"
            ng-if="!vm.isChangeOptions">
            <span ng-if="!vm.isAddColleague" translate="events.eventJoin"></span>
            <span ng-if="vm.isAddColleague" translate="events.eventAdd"></span>
        </button>
        <button class="btn btn-primary" ng-if="vm.isChangeOptions" translate="common.save"
            ng-click="vm.updateOptions()"></button>
        <button class="btn btn-default" ng-click="vm.closeModal()" data-test-id="close-event-modal-button">
            <span translate="common.cancel"></span>
        </button>
    </div>
</div>
