<div class="row">
    <div class="col-xs-12" has-permissions="['KUDOSBASKET_ADMINISTRATION']">
        <h3 translate="kudosBasket.kudosBasketAdministrationTitle"></h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" name="kudosBasketForm" role="form">
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="title">
                            <span translate="kudosBasket.title"></span><span class="text-danger">*</span>
                        </label>
                        <div class="col-xs-9" ng-class="{ 'has-error' : kudosBasketForm.title.$invalid && !kudosBasketForm.title.$pristine }">
                            <input class="form-control"
                                   type="text"
                                   name="title"
                                   ng-maxlength="25"
                                   ng-model="vm.kudosBasketData.title"
                                   translate-attr-placeholder="kudosBasket.title"
                                   data-test-id="kudos-basket-title-input-field" required translate/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="description" translate="kudosBasket.description"></label>
                        <div class="col-xs-9" ng-class="{ 'has-error' : kudosBasketForm.description.$invalid && !kudosBasketForm.description.$pristine }">
                            <textarea class="form-control"
                                      name="description"
                                      msd-elastic
                                      ng-model="vm.kudosBasketData.description"
                                      ng-maxlength="5000"
                                      translate-attr-placeholder="kudosBasket.description"
                                      data-test-id="kudos-basket-description-input-field" translate>
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="vm.kudosBasketData.id">
                        <label class="col-xs-3 control-label" for="notification" translate="kudosBasket.widgetIs"></label>
                        <div class="col-xs-9">
                            <div class="onoffswitch">
                                <input type="checkbox" name="notification" class="onoffswitch-checkbox" id="notification" ng-model="vm.kudosBasketData.isActive">
                                <label class="onoffswitch-label" for="notification">
                                    <span on-switch-attr="{{'kudosBasket.widgetIsOn' | translate }}" off-switch-attr="{{'kudosBasket.widgetIsOff' | translate }}" class="onoffswitch-inner" translate-cloak></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3"></label>
                        <div class="col-xs-9">
                            <button class="btn btn-primary" type="button" ng-click="vm.saveKudosBasket()" ng-disabled="kudosBasketForm.$invalid">
                                <span translate="common.save"></span>
                            </button>
                            <button class="btn btn-orange" type="button" ng-click="vm.cancelKudosBasket()">
                                <span translate="common.cancel"></span>
                            </button>
                            <button class="btn btn-danger" type="button" ace-confirmation-modal="vm.deleteKudosBasket()" ng-if="vm.kudosBasketData.id">
                                <span translate="common.delete"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-grey table-hover table-active kudos-basket-administration-table" ng-if="vm.donatorsUsersList.length">
                    <thead>
                        <tr>
                            <th class="col-xs-6" translate="kudosBasket.nameSurname"></th>
                            <th class="col-xs-3" translate="kudosBasket.amount"></th>
                            <th class="col-xs-3" translate="kudosBasket.date"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="donation in vm.donatorsUsersList">
                            <td>
                                {{donation.donator.fullName}}
                            </td>
                            <td>
                                {{donation.donationAmount}}
                            </td>
                            <td>
                                {{donation.donationDate | convertToCurrentTimezone | date:'yyyy-MM-dd, HH:mm'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
