<div class="row body-container">
    <div class="col-xs-12" has-permissions="['KUDOS_ADMINISTRATION']">
        <div class="panel panel-default">

            <div class="panel-heading">
                <span translate="customization.kudosTypes"></span>

                <div class="pull-right kudos-type-create-button">
                    <a class="nc-btn nc-btn-default"
                       ui-sref="Root.WithOrg.Admin.Customization.KudosTypes.Create"
                       translate-attr-title="customization.createKudosType"
                       data-test-id="create-kudos-type-button" 
                       translate>
                        <span class="vismaicon vismaicon-add2-circle"></span><span class="hidden-xs" translate="customization.createKudosType"></span>
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <wave-spinner ng-if="vm.isLoading"></wave-spinner>
                <table class="nc-table nc-table-active" ng-if="vm.kudosTypes.length">
                    <thead>
                        <tr>
                            <th class="col-xs-5" translate="customization.kudosTypeName"></th>
                            <th class="col-xs-3 text-center hidden-xs" translate="customization.kudosTypeMultiplier"></th>
                            <th class="col-xs-3 text-center" translate="common.action"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="type in vm.kudosTypes">
                            <td>{{type.name}}</td>
                            <td class="text-center hidden-xs">{{type.value}}</td>
                            <td class="text-center">
                                <a ui-sref="Root.WithOrg.Admin.Customization.KudosTypes.Edit({ id : {{type.id}}})" 
                                   ng-if="!type.isNecessary"
                                   class="link"
                                   translate-attr-title="common.edit"
                                   translate>
                                   <span class="vismaicon vismaicon-edit" aria-hidden="true"></span>
                                </a>
                                <a ng-if="type.isNecessary"
                                   class="link link-disabled"
                                   translate-attr-title="common.edit"
                                   translate>
                                   <span class="vismaicon vismaicon-edit disabled" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
