<wave-spinner ng-if="vm.isEventsLoading"></wave-spinner>
<div class="event-list-item-container" 
     infinite-scroll="vm.addMoreEvents()" 
     infinite-scroll-distance="1" 
     infinite-scroll-disabled="vm.isEventsLoading">
    <!-- events list item -->
    <ul class="event-list-items">
        <li class="event-list-item" ng-repeat="event in vm.eventsList | limitTo: vm.itemsDisplayedInList track by event.id">
            <div class="event-list-item-inner-container" ng-class="{'super-event' : event.id === 'b5243fea-9303-4dc9-9b8a-9cec8ae0507a'}">
                <!-- title -->
                <div class="col-xs-12">
                    <a class="event-item-title" 
                       title="{{:: event.name}}" 
                       ui-sref="Root.WithOrg.Client.Events.EventContent({id:{{'event.id'}}})"
                       data-test-id="event-list-item-title">
                        {{:: event.name}}
                    </a>
                </div>
                <!-- office/location -->
                <div class="col-xs-12">
                    <p class="event-list-item-place" data-test-id="event-list-item-place" ng-cloak>
                        <span ng-if="event.office">{{:: event.office}}</span><span ng-if="!event.office">{{ :: "events.all" | translate }}</span>/{{:: event.place}}
                    </p>
                </div>
                <!-- date/time -->
                <div class="col-xs-12">
                    <p class="event-list-item-datetime" data-test-id="event-list-item-datetime" ng-cloak>
                        {{event.startDate | amUtc | amLocal | amDateFormat:'HH:mm, MMMM DD'}}
                    </p>
                </div>
                <!-- image -->
                <div class="col-xs-12 no-padding">
                    <a class="event-loading-image-placeholder" 
                       ui-sref="Root.WithOrg.Client.Events.EventContent({id:{{'event.id'}}})" 
                       data-test-id="event-list-item-image">
                        <img class="event-list-image"
                             alt="{{:: event.name}}"
                             title="{{:: event.name}}"
                             ng-src="{{event.imageName | imageThumb:{w:291,h:165}:'crop'}}" image-loading>
                    </a>
                    <ace-progress-bar value="event.participantsCount" max="event.maxParticipants" full-danger="true">
                    </ace-progress-bar>
                </div>
                <!-- buttons -->
                <div class="col-xs-12 event-list-item-buttons">
                    <ace-event-status event="event" is-details="false" is-add-colleague="false"></ace-event-status>
                </div>
            </div>
        </li>
    </ul>

    <div class="col-xs-12 nopadding">
        <ace-list-alert ng-if="!vm.isEventsFound"
                alert-msg="events.noEvents"
                link-msg="{{'events.noEventsHere' | translate}}"
                alert-type="info"
                state="Root.WithOrg.Client.Events.AddEvents" ng-cloak translate-cloak>
                </ace-list-alert>
    </div>
</div>
