<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancelKudos()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" translate="kudos.submitKudosForAchievement"></h3>
</div>
<div class="modal-body">
    <form role="form" name="kudosifyForm">
        <div class="form-group required-right kudosfiy-user-search"
             ng-class="{ 'has-error' : kudosifyForm.userName.$invalid && !kudosifyForm.userName.$pristine }"
             has-permissions="['APPLICATIONUSER_BASIC']">
            <label for="kudosReceivers" translate="kudos.kudosTo"></label>
                <tags-input id="kudosReceivers"
                            name="kudosReceivers"
                            ng-model="vm.kudosReceivers"
                            add-from-autocomplete-only="true"
                            display-property="formattedName"
                            add-on-enter="true"
                            add-on-space="true"
                            add-on-comma="true"
                            add-on-blur="true"
                            placeholder="{{'kudos.addPeople' | translate}}"
                            data-test-id="kudosify-multiple-users-input" wrapped translate-cloak>
                    <auto-complete source="vm.getUsers($query)" min-length="2" max-results-to-show="5" debounce-delay="500"></auto-complete>
                </tags-input>
        </div>

        <div class="form-group required-right">
            <label for="choose-type" translate="kudos.chooseType"></label>
            <div class="kudos-modal-buttons-group kudos-points-type">
                <button class="btn btn-sm btn-info kudos-type-button kudos-points-type kudosify-modal-buttons-inactive"
                        type="button"
                        uib-tooltip="{{kudosType.description}}"
                        tooltip-placement="bottom"
                        tooltip-class="word-break"
                        tooltip-append-to-body="true"
                        ng-model="vm.pointsType"
                        ng-click="vm.chooseKudosType(kudosType, $event)"
                        ng-repeat="kudosType in vm.kudosTypes"
                        data-test-id="{{kudosType.name}}" ng-cloak>
                    {{:: kudosType.name}} ({{:: kudosType.value}})
                </button>
            </div>
        </div>

        <div class="form-group required-right" ng-class="{ 'has-error' : kudosifyForm.multiplyBy.$invalid && !kudosifyForm.multiplyBy.$pristine }">
            <label for="multiply" translate="kudos.multiplyBy"></label>
            <input class="form-control"
                   type="number"
                   name="multiplyBy"
                   ng-pattern="/^[0-9]{1,9}$/"
                   ng-model="vm.kudosifyInfo.multiplyBy"
                   ng-change="vm.onMultiplierValueChanged()"
                   min="1" max="{{vm.maxMinus}}"
                   required
                   ignore-mouse-wheel
                   data-test-id="kudosify-multiply-by" />

            <p class="help-block"
               ng-show="kudosifyForm.multiplyBy.$invalid && !kudosifyForm.multiplyBy.$pristine || kudosifyForm.multiplyBy.$error.pattern"
               data-test-id="kudosify-multiply-by-error">
                <span translate="kudos.incorrectMultiplier"></span>.
            </p>
        </div>

        <div class="form-group required-right" has-permissions="['KUDOS_ADMINISTRATION']" ng-class="{ 'has-error' : kudosifyForm.totalPoints.$invalid && !kudosifyForm.totalPoints.$pristine }">
            <label for="totalPoints" translate="kudos.points"></label>
            <input class="form-control"
                   type="number"
                   name="totalPoints"
                   ng-pattern="/^[0-9]{1,9}$/"
                   ng-model="vm.kudosifyInfo.totalPoints"
                   min="1" max="{{vm.maxMinus}}"
                   required
                   ignore-mouse-wheel
                   data-test-id="kudosify-total-points" />

            <p class="help-block"
               ng-show="kudosifyForm.totalPoints.$invalid && !kudosifyForm.totalPoints.$pristine || kudosifyForm.totalPoints.$error.pattern"
               data-test-id="kudosify-total-points-error">
                <span translate="kudos.incorrectTotalPoints"></span>.
            </p>
        </div>

        <div class="form-group required-right" ng-class="{ 'has-error' : kudosifyForm.comment.$invalid && !kudosifyForm.comment.$pristine }">
            <label for="comment" translate="common.comment"></label>
            <textarea class="form-control kudosify-modal-comments"
                      name="comment"
                      rows="3"
                      ng-model="vm.kudosifyInfo.comment"
                      ng-maxlength="500"
                      required
                      data-test-id="kudosify-comment"></textarea>

            <p class="help-block"
               ng-show="kudosifyForm.comment.$error.required && !kudosifyForm.comment.$pristine"
               data-test-id="kudosify-comment-error1" translate="kudos.commentRequired"></p>
            <p class="help-block"
               ng-show="kudosifyForm.comment.$error.maxlength && !kudosifyForm.comment.$pristine"
               data-test-id="kudosify-comment-error2" translate="kudos.commentIsTooLong"></p>
        </div>

        <div class="kudos-image-upload-component" has-permissions="['PICTURE_BASIC']">
            <span for="kudos-image" translate="kudos.kudosPhoto"></span>
            <input
                name="kudos-image"
                type="file"
                accept="image/*"
                onchange="angular.element(this).scope().vm.attachImage(this)"
                data-test-id="image-upload-input-field">
        </div>

        <div image-preview-thumb
            ng-if="vm.imageSource"
            source="vm.imageSource"
            sources="vm.attachedFiles">
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            has-permissions="['KUDOS_BASIC']"
            ng-disabled="vm.isBusy || kudosifyForm.$invalid || !vm.pointsType.id || !vm.kudosReceivers.length"
            ng-click="vm.submitKudos(vm.kudosReceivers, vm.kudosifyInfo, vm.pointsType)"
            data-test-id="ok-button-green">
            <span translate="common.submit"></span>
    </button>
    <button class="btn btn-default"
            ng-click="vm.cancelKudos()"
            data-test-id="cancel-button-yellow">
            <span translate="common.cancel"></span>
    </button>
</div>
