<div class="row">
    <div class="col-xs-12" has-permissions="['COMMITTEES_BASIC']">
        <h3 ng-cloak>{{"committee.committeesList" | translate}}</h3>
        <a has-permissions="['COMMITTEES_ADMINISTRATION']" class="btn btn-primary pull-right" data-ng-click="onNewCommitteeButtonClick()" title="{{'common.addNew' | translate}}"><span class="glyphicon glyphicon-plus"></span> <span>{{"common.createNew" | translate}}</span></a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="committee in committees | orderBy: 'name'">
            <div class="row-no-margin">
                <div class="committees-list-section pull-left" uib-tooltip="{{committee.name}}" tooltip-placement="bottom" tooltip-append-to-body="true">
                    <div class="col-xs-4 cursorHand committees-list-img img-responsive" ng-click="setFocusedCommittee(committee)" ng-style="{{ committee.pictureId | backgroundThumb }}"></div>
                    <div class="btn-group-vertical btn-group-xs pull-right committee-admin-buttons">
                        <a class="btn btn-default glyphicon glyphicon-pencil" data-ng-click="onEditCommitteeButtonClick(committee)" title="{{'common.edit' | translate}}" has-permissions="['COMMITTEES_ADMINISTRATION']"></a>
                        <span  has-permissions="['COMMITTEES_ADMINISTRATION']">
                            <a class="btn btn-danger glyphicon glyphicon-bin" ace-confirmation-modal="deleteItem(committee)" title="{{'common.delete' | translate}}"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4" ng-if="!!focusedCommittee.id">
        <div class="kudos-committee-modal">
            <div class="kudos-committee-modal-header">
                <h3>{{focusedCommittee.name}}</h3>
            </div>
            <div class="row committees-info-body">
                <div class="col-xs-12 col-sm-12 col-md-12 committee-members-area" ng-if="focusedCommittee.leads.length">
                    <strong translate="committee.leads"></strong>
                    <div class="committee-members-area">
                        <div ng-repeat="lead in focusedCommittee.leads">
                            <a ui-sref="Root.WithOrg.Client.Profiles.Details({ id: lead.id })">{{lead.firstName}} {{lead.lastName}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 committee-members-area" ng-if="focusedCommittee.members.length">
                    <strong translate="committee.members"></strong>
                    <div class="committee-members-area">
                        <div ng-repeat="member in focusedCommittee.members">
                            <a ui-sref="Root.WithOrg.Client.Profiles.Details({ id: member.id })">{{member.firstName}} {{member.lastName}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 committee-members-area" ng-if="focusedCommittee.delegates.length">
                    <strong translate="committee.delegates"></strong>
                    <div class="committee-members-area">
                        <div ng-repeat="delegate in focusedCommittee.delegates">
                            <a ui-sref="Root.WithOrg.Client.Profiles.Details({ id: delegate.id })">{{delegate.firstName}} {{delegate.lastName}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 committee-members-area">
                    <strong >{{"committee.description" | translate}}</strong>
                    <div class="committee-description-area">
                        <span class="comment-word-break" ng-bind-html="focusedCommittee.description | linky: '_blank' | newlineToBr"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 committee-members-area" ng-if="focusedCommittee.website !== null">
                    <strong>{{"committee.website" | translate}}</strong>
                    <div class="committee-description-area">
                        <a href="{{focusedCommittee.website}}" target="_blank">{{focusedCommittee.website}}</a>
                    </div>
                </div>
            </div>
            <div class="row committees-info-body">
                <span class="col-xs-12 committees-mailtext">{{"committee.emailText" | translate}} {{"committee.emailUs" | translate}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a ng-show="focusedCommittee.id > 0" has-permissions="['COMMITTEES_BASIC']" class="btn btn-primary pull-right" data-ng-click="addSuggestionModal()" title="{{'common.addNew' | translate}}"><span class="glyphicon glyphicon-plus"></span> <span>{{"committee.createNewSuggestion" | translate}}</span>
                </a>
            </div>
        </div>
        <div ng-show="focusedCommittee.id > 0" class="kudos-committee-modal" has-permissions="['COMMITTEES_BASIC']">
            <div class="kudos-committee-modal-header">
                <h3> {{"committee.suggestions" | translate}} </h3>
            </div>
            <div class="row committees-info-body committee-suggestion-box-scroll">
                <div class="committee-paragraph" ng-repeat="suggestion in suggestions">
                    <div class="comment-container">
                        <div class="comment-header">
                            <div class="row">
                                <div class="col-xs-7 col-md-12 col-lg-7">
                                    <a data-ui-sref="Root.WithOrg.Client.Profiles.Details({ id: suggestion.user.id })">
                                        <img ng-src="{{suggestion.user.pictureId | miniThumb}}" class="typeahead-photo" data-dismiss="modal" data-test-id="maximizedPicture" />
                                        <strong><span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span></strong> {{suggestion.user.firstName}} {{suggestion.user.lastName}}
                                    </a>
                                </div>
                                <div class="col-sm-5 text-center hidden-xs hidden-md">
                                    <div class="row">
                                        <b class="span">{{suggestion.date| date: 'yyyy-MM-dd HH:mm'}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="event-content-comment-content word-break text-center">
                            <b>{{suggestion.title}}</b>
                        </p>
                        <p class="event-content-comment-content word-break">
                            {{suggestion.description}}
                        </p>
                        <div class="event-content-comment-content">
                            <div class="row">
                                <span has-permissions="['COMMITTEES_ADMINISTRATION']">
                                    <a class="btn btn-danger glyphicon glyphicon-bin pull-right" ace-confirmation-modal="deleteSuggestion(suggestion)" title="{{'common.delete' | translate}}"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!suggestions.length || suggestions.length === 0" class="text-center h3 bold">
                    {{"committee.noSuggestionsFound" | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
