<div>
    <div class="alert alert-danger" role="alert" data-ng-show="errorsList.length > 0 || errorItem.length > 0">
        <div data-ng-show="errorItem.length > 0">{{ errorItem }}</div>
        <div data-ng-show="errorsList.length > 0" data-ng-repeat="error in errorsList">{{ error }}</div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-9">
            <div class="btn-group">
                <button id="Save" data-ng-click="saveButtonClick()" class="btn btn-primary" data-ng-disabled="saveDisabled"><span class="glyphicon glyphicon-disk-save"></span>
                    <span>{{"common.save" | translate}}</span>
                </button>
                <a data-ng-click="backButtonClick()" class="btn btn-danger" ><span class="glyphicon glyphicon-arrow-left"></span>
                    <span>{{"common.back" | translate}}</span>
                </a>
            </div>
            <div class="pull-right" data-ng-show="!!showRequired"><span class="text-danger">*</span><span>{{"common.messageFieldIsRequired" | translate}}</span></div>
        </div>
    </div>
</div>