<div class="message-like-button" ng-switch="vm.likeType">
	<div ng-switch-when="post">
        <a ng-click="vm.likePost(0)"
           class="like-button"
           has-permissions="['LIKE_BASIC']"
           ng-if="!vm.messageObject.isLiked"
           data-test-id="post-like">

            <div class="like-button-selections">
                <button ng-repeat="like in vm.likeTypes track by $index" ng-click="vm.likePost($index)">
                    {{like.emoji}}
                </button>
            </div>

            <span translate="wall.like"></span>
        </a>
		<a ng-click="vm.unlikePost()"
		   has-permissions="['LIKE_BASIC']"
		   ng-if="vm.messageObject.isLiked"
		   data-test-id="post-unlike">
		   	<span translate="wall.dislike"></span>
		</a>
	</div>

    <div ng-switch-default>
        <a ng-click="vm.likeComment(0)"
           class="like-button"
           has-permissions="['LIKE_BASIC']"
           ng-if="!vm.messageObject.isLiked"
           data-test-id="comment-like">

            <div class="like-button-selections">
                <button ng-repeat="like in vm.likeTypes track by $index" ng-click="vm.likeComment($index)">
                    {{like.emoji}}
                </button>
            </div>

            <span translate="wall.like"></span>
        </a>
        <a ng-click="vm.unlikeComment()"
           has-permissions="['LIKE_BASIC']"
           ng-if="vm.messageObject.isLiked"
           data-test-id="comment-unlike">
            <span translate="wall.dislike"></span>
        </a>
    </div>
</div>
