<div class="lottery-gift-container">
    <!-- Header -->
    <div class="row m-0 lottery-gift-header-row" ng-if="vm.selectedUsers.length > 0 && !vm.disableHeader">
        <div class="col-xs-6 col-sm-8 lottery-gift-header-col">
            <span translate="lotteries.ticketReceiverName"></span>
        </div>

        <div class="col-xs-3 col-sm-2 lottery-gift-header-col lottery-gift-center" ng-class="{ 'lottery-count-error lottery-error' : !!vm.showCountError }">
            <span class="mr-5" translate="lotteries.ticketReceiverCount"></span>
        </div>

        <div class="col-xs-3 col-sm-2 lottery-gift-header-col lottery-gift-center">
            <span translate="common.action"></span>
        </div>
    </div>

    <!-- Content -->
    <div class="row lottery-gift-row m-0" ng-repeat="user in vm.selectedUsers" ng-class="{ 'hide' : user.isDeleting }">
        <div class="col-xs-6 col-sm-8 lottery-gift-col">
            <div class="lottery-gift-name">
                <div class="lottery-gift-icon-container">
                    <span class="glyphicon glyphicon-gift lottery-gift-icon"></span>
                </div>
                <span class="ml-5 lottery-gift-fullname">{{user.fullName}}</span>
            </div>
        </div>

        <div class="col-xs-3 col-sm-2 lottery-gift-col lottery-gift-input-container">
            <ace-flat-ticket-picker min-ticket-count="1" max-ticket-count="10000" ticket-count="user.ticketCount" show-error="vm.showCountError"></ace-flat-ticket-picker>
        </div>

        <div class="col-xs-3 col-sm-2 lottery-gift-col lottery-gift-center">
            <a ng-click="vm.removeUser(user)" translate-attr-title="common.delete" translate>
                <span class="vismaicon vismaicon-delete"></span>
            </a>
        </div>
    </div>

    <style>
        .lottery-error {
            color: #d9534f !important;
        }

        .lottery-count-error::after {
            content: '*';
        }

        .lottery-gift-name {
            display: flex;
            align-items: center;
        }

        .lottery-gift-fullname {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .lottery-gift-header-col {
            padding: 16px;
            font-weight: bold;
            color:#0974b3;
        }

        .lottery-gift-header-row {
            border-top: 1px solid #f2f2f2;
        }

        .lottery-gift-row {
            background: #fff;
            border-radius: 2px;
            box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 1px 1px rgb(0 0 0 / 10%);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            margin-bottom: 6px !important;
            padding-top: 13px;
            padding-bottom: 4px;
        }

        .lottery-gift-row:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

        .lottery-gift-container {
            box-sizing: border-box !important;
        }

        .lottery-gift-icon {
            color: white;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 43%;
        }

        .lottery-gift-icon-container {
            background-color: #0974b3;
            position: relative;
            border-radius: 50px;
            width: 25px;
            min-width: 25px;
            height: 25px;
        }

        .lottery-gift-center {
            text-align: center;
        }
    </style>
</div>
