<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="RegisteredOrganizations" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <RegisteredOrganizations>
    <add key="visma" value="Visma"/>
    <add key="client1" value="Client1"/>
  </RegisteredOrganizations>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="UserImpersonation" value="true"/>
    <add key="PicturesContainerName" value="pictures"/>
    <add key="CorsOrigin" value="*"/>
    <add key="EmailEnabled" value="false"/>
    <add key="SendGridApiKey" value="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"/>
    <add key="OAuthRedirectUri" value="http://localhost:3000/"/>
    <add key="GoogleAccountClientId" value="177176246877-fad5g9k72v4irdhn6n9qqse93h5h4u25.apps.googleusercontent.com"/>
    <add key="GoogleAccountClientSecret" value="u6qWxVjHt0LyzNJj-ji-9qZW"/>
    <add key="IsProductionBuild" value="false"/>
    <add key="AccessTokenLifeTimeInHours" value="120"/>
    <add key="RefreshTokenLifeTimeInDays" value="5"/>
    <add key="AndroidAuthorizationGUID" value="A93reRTUJHsCuQSHR+L3GxqOJyDmQpCgps102ciuabc="/>
    <add key="GoogleAccountApiKey" value="AIzaSyBQCHoKhoEoL-NZzFnWMlvdSgzExwQYlYw"/>
    <!--shroomsapp acc-->
    <add key="IsDemoAccount" value="true"/>
    <add key="DefaultEmailLink" value="http://localhost:3000"/>
    <add key="DemoAccountDefaultPictureID" value="746afdc0-ea3b-4a94-836e-5e3e7774bca3.jpg"/>
    <add key="BasicUsername" value="backgroundJobs"/>
    <add key="BasicPassword" value="bjobsareintense"/>
    <add key="EventRecurrenceJobsEnabled" value="false"/>
    <add key="AngularClientId" value="85d9bff394294c018494a0fd7e3c2268"/>
    <add key="MobileAppClientId" value="2000b5df71aa4c6fbeee407ab2b1bcb8"/>
    <add key="GoogleCalendarServiceId" value="simoona-calendar@simoona-1343.iam.gserviceaccount.com"/>
    <add key="GoogleCalendarServiceCertThumb" value="07f90495533eed0f76ab2512640debdc41cf24e5"/>
    <add key="GoogleCalendarCertStore" value="LocalMachine"/>
    <add key="DefaultGoogleCalendarId" value="l0bpl7pak6o08ega9d54pimk9g@group.calendar.google.com"/>
    <add key="GoogleCalendarServiceCertPassword" value="notasecret"/>
    <add key="GoogleCalendarServiceCertRelativePath" value="App_Data\\simoona.pfx"/>
    <add key="CorsOriginsSettingKey" value=""/>
    <add key="ScheduledJobRequestEndpoint" value="http://localhost/api/externaljobs/updaterecurringevents"/>
    <add key="EnableAITelemetry" value="false"/>
    <add key="AIInstrumentationKey" value=""/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="Client1" connectionString="Data Source=10.11.18.15;Database=DevelopmentClient1;User ID=DevelopmentShrooms;Password=SwEg7b7a3arawaxusuDregabUHujAqAD;Connect Timeout=60; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="Visma" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Database=DevelopmentShrooms;Integrated Security=True;Connect Timeout=60; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="SimoonaApiTest" connectionString="Data Source=10.11.18.34;Database=SimoonaApiTest;User ID=sa;Password=P@ssw0rd;Connect Timeout=60; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=developementshrooms;AccountKey=Uh2mvxcq2rxyOQbrnUjB7l/2hhOlSaklANvB4Az+fMAzx+V7/6Ui6CVLupy8VCoA0WshYdENpbEXTUdNAPV5Bw==;BlobEndpoint=https://developementshrooms.blob.core.windows.net/;TableEndpoint=https://developementshrooms.table.core.windows.net/;QueueEndpoint=https://developementshrooms.queue.core.windows.net/;FileEndpoint=https://developementshrooms.file.core.windows.net/"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
