<div class="row body-container">
    <div class="col-xs-12" has-permissions="['LOTTERY_ADMINISTRATION']">
        <div class="panel panel-default">
            <div class="panel-heading" translate="lotteries.refundPageName"></div>
            <div class="panel-body">
                <div class="well">
                    <span ng-if="vm.refundStatus" translate="lotteries.refundCompletedMessage"></span>
                    <span ng-if="!vm.refundStatus" translate="lotteries.refundFailedMessage"></span>
                </div>

                <div class="pull-right">
                    <button ng-if="!vm.refundStatus" class="btn btn-primary" ng-click="vm.refundLottery()">
                        <span translate="lotteries.refund"></span>
                    </button>
                    <button class="btn btn-default" ui-sref="Root.WithOrg.Admin.Lotteries.List">
                        <span translate="lotteries.cancel"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
