<div class="row">
        <div class="col-xs-12">
            <h3><span>{{"lotteries.entityNamePlural" | translate}}</span></h3>
            <ace-item-list-filter filter-value="vm.filters.searchString" on-filtering="vm.onSearch"></ace-item-list-filter>
            <div class="btn-group pull-right" ng-if="vm.allowEdit">
                <a ui-sref="Root.WithOrg.Admin.Lotteries.Create" class="btn btn-primary" title="{{'common.createNew' | translate}}"><span class="glyphicon glyphicon-plus"></span> <span>{{"common.createNew" | translate}}</span></a>
            </div>
            <table class="table table-grey table-hover table-active">
                <thead>
                    <tr>
                        <th class="col-xs-3">
                            <ace-sort-link on-sort="vm.onSort" sort-dir="filter.dir" sort-field="filter.sort" sort-value="title"><span>{{"lotteries.lotteryTitle" | translate}}</span></ace-sort-link>
                        </th>
                        <th class="col-xs-3">
                            <ace-sort-link on-sort="vm.onSort" sort-dir="filter.dir" sort-field="filter.sort" sort-value="status"><span>{{"lotteries.status" | translate}}</span></ace-sort-link>
                        </th>
                        <th class="col-xs-3">
                            <ace-sort-link on-sort="vm.onSort" sort-dir="filter.dir" sort-field="filter.sort" sort-value="endDate"><span>{{"lotteries.endDate" | translate}}</span></ace-sort-link>
                        </th>
                        <th class="col-xs-3 text-center" ng-if="vm.allowEdit">
                            {{"common.actions" | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lottery in vm.lotteries">
                        <td>
                            {{lottery.title}}
                        </td>
                        <td>
                            {{vm.getLotteryStatusString(lottery.status) | translate}}
                        </td>
                        <td class="ng-binding">
                            {{lottery.endDate | convertToCurrentTimezone | date:'yyyy-MM-dd, HH:mm'}}
                        </td>
                        <td ng-if="vm.allowEdit " class="text-center">
                            <a ui-sref="Root.WithOrg.Admin.Lotteries.Edit({ lotteryId : lottery.id})" class="btn btn-default glyphicon glyphicon-pencil" title="{{'common.edit' | translate}}"></a>
                            <a ng-if="vm.showRefundPage(lottery)" ui-sref="Root.WithOrg.Admin.Lotteries.Refund({ lotteryId : lottery.id})" class="btn btn-default glyphicon glyphicon-eye-open"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ace-item-list-pagination total-item-count="vm.filters.itemCount" page-size="vm.filters.pageSize" current-page="vm.filters" on-changed="vm.onPageChange">
            </ace-item-list-pagination>
        </div>
    </div>
