<div class="col-xs-12" has-permissions="['KUDOS_BASIC']">
    <h3 translate="kudos.kudosTitle"></h3>
    <div class="row">
        <ace-kudos-user-search-widget user-full-name="vm.kudosifyUser.fullName"></ace-kudos-user-search-widget>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="hidden-md hidden-lg">
                <ace-kudos-user-widget user="vm.user" kudosify-user="vm.kudosifyUser" is-loading="vm.userInformationIsLoading"></ace-kudos-user-widget>
            </div>

            <div class="kudos-content-tabs">
                <ul class="nav nav-tabs">
                    <li ng-repeat="tab in vm.kudosTabs"
                        ng-if="tab.isTabShown"
                        ng-class="{active: vm.isActiveTab(tab.tabState)}">
                        <a ui-sref="{{:: tab.tabState}}({userId: vm.userId})" translate="{{tab.tabTitle}}"></a>
                    </li>
                </ul>
                <div class="tab-content kudos-content-body">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="row">
                <div class="hidden-sm hidden-xs col-md-4 col-lg-12">
                    <ace-kudos-user-widget user="vm.user" kudosify-user="vm.kudosifyUser" is-loading="vm.userInformationIsLoading"></ace-kudos-user-widget>
                </div>
                <div feature-flag="premium" class="col-md-3 col-lg-12">
                    <ace-kudos-committee-widget></ace-kudos-committee-widget>
                </div>
            </div>
        </div>
    </div>
</div>
