<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to Azure Blob Storage" xdt:Transform ="Insert">
          <match url="^storage/(.*)$"/>
          <action type="Redirect" url="https://#{StorageAccountName}#.blob.core.windows.net/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <nlog>
    <targets>
      <target type="File" name="f1" fileName="${basedir}/Logs/current.log" archiveFileName="${basedir}/Logs/{####}.log" archiveEvery="Day" archiveNumbering="Rolling" archiveAboveSize="10000000" maxArchiveFiles="10" layout="[${date}] [${logger}] [${uppercase:${level}}] - ${message} ${exception:format=tostring:maxInnerExceptionLevel=5}" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </targets>
  </nlog>

  <RegisteredOrganizations xdt:Transform="Replace">
    <add key="test" value="test" />
  </RegisteredOrganizations>
 
  <connectionStrings xdt:Transform="Replace">
    <remove name="LocalSqlServer"/>
    <add name="test" connectionString="#{ConnectionStringSql_Test}#" providerName="System.Data.SqlClient"/>
    <add name="BackgroundJobs" connectionString="#{ConnectionStringSql_BackgroundJobs}#" providerName="System.Data.SqlClient"/>
    <add name="StorageConnectionString" connectionString="#{ConnectionStringStorage}#"/>
  </connectionStrings>
  <system.net>
    <mailSettings xdt:Transform="Replace">
        <smtp from="#{SmtpFrom}#">
          <network host="#{SmtpHost}#" userName="#{SmtpUserName}#" password="#{SmtpPassword}#" port="#{SmtpPort}#" />
        </smtp>
    </mailSettings>
  </system.net>
</configuration>