<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Logentries.Token" value="f0387fa7-6b71-4629-9bc2-670aa9e23774" xdt:Locator="Match(key)" xdt:Transform ="Replace"/>
    <add key="IsProductionBuild" value="true" xdt:Locator="Match(key)" xdt:Transform ="Replace"/>
    <add key="EnableAITelemetry" value="true" xdt:Locator="Match(key)" xdt:Transform ="Replace"/>
    <add key="AzureSubscriptionCertThumb" value="516A64F3980018B731B22ECD9945C9EC1DF5030D" xdt:Transform ="Insert" />
    <add key="AzureSubscriptionId" value="e25d538b-2e04-4f63-b7d3-796f72b34494" xdt:Transform ="Insert" />
  </appSettings>

  <nlog>
    <targets>
      <target type="File" name="f1" fileName="${basedir}/Logs/current.log" archiveFileName="${basedir}/Logs/{####}.log" archiveEvery="Day" archiveNumbering="Rolling" archiveAboveSize="10000000" maxArchiveFiles="10" layout="[${date}] [${logger}] [${uppercase:${level}}] - ${message} ${exception:format=tostring:maxInnerExceptionLevel=5}" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </targets>
  </nlog>

  <RegisteredOrganizations xdt:Transform="Replace">
    <add key="visma" value="Visma" />
    <add key="demo" value="Demo" />
    <add key="baltimax" value="baltimax" />
  </RegisteredOrganizations>

  <connectionStrings xdt:Transform="Replace">
    <remove name="LocalSqlServer"/>
    <add name="baltimax" connectionString="#{ConnectionStringSql_Baltimax}#" providerName="System.Data.SqlClient"/>
    <add name="Demo" connectionString="#{ConnectionStringSql_Demo}#" providerName="System.Data.SqlClient"/>
    <add name="Visma" connectionString="#{ConnectionStringSql_Visma}#" providerName="System.Data.SqlClient"/>
    <add name="BackgroundJobs" connectionString="#{ConnectionStringSql_BackgroundJobs}#" providerName="System.Data.SqlClient"/>
    <add name="StorageConnectionString" connectionString="#{ConnectionStringStorage}#"/>
  </connectionStrings>
  <system.net>
    <mailSettings xdt:Transform="Replace">
        <smtp from="#{SmtpFrom}#">
          <network host="#{SmtpHost}#" userName="#{SmtpUserName}#" password="#{SmtpPassword}#" port="#{SmtpPort}#" />
        </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="SetAttributes" mode="On" />
  </system.web>

  <resizer xdt:Transform="Replace">
    <diskcache autoclean="true" />
    <cleanupStrategy targetItemsPerFolder="400" maximumItemsPerFolder="1000" />
    <clientcache minutes="10080" />
    <plugins>
      <add name="AzureReader2" prefix="~/storage" connectionString="#{ConnectionStringStorage_AzureReader}#" endpoint="#{StorageAccountUrl}#" />

      <add name="AnimatedGifs" />

      <add name="DiskCache" />
      <add name="PrettyGifs" />
    </plugins>
    <licenses>
      <maphost from="localhost" to="simoona.com" />
      <maphost from="shrooms.vsw.datakraftverk.no" to="simoona.com" />
      <license>
        simoona.com(R4Performance includes R4Performance):
        RG9tYWluOiBzaW1vb25hLmNvbQpPd25lcjogRGVpbWFudGFzIM
        WgeXZva2FzCklzc3VlZDogMjAxNi0wOC0xMFQxMjo0MToxNVoK
        RmVhdHVyZXM6IFI0UGVyZm9ybWFuY2U=:BQ3Gu/YhALC/XElsE
        aXY54lw3LuaYD1XPkVmaEvLO+msYIU+dL8DgyMCn2dawGJ2lxo
        JRZfra0SGbkp69yuOuiDXgLtiIZ8yRc8twFAtZnbTrQVWNhAxl
        v7WXh2csmsj/enog+izVbHbTu++l9oQNyyd6ubzw41mG5Y45Cd
        qOzeqE/oyoaMII97qCWhGNqd0I4V7RY3/61YWUZxjzcBO5DFjo
        uaHjf4PhVlJ/xIWuEtTk+a5gqR+4O8RNMortHcNBeLX0SmXtjJ
        wwYrTXFoVEmJFr6xy1ec9pnpT9goRXKa4jOcbwAMEsZZvHXXuO
        3kjRmF2t5qauZPQOjSzaVdJmw==
      </license>
    </licenses>
  </resizer>
</configuration>