<!-- TODO: add permissions -->
<ui-view>
    <div class="row body-container" has-permissions="['VACATIONS_BASIC']">
        <div class="col-xs-12">
            <div class="panel panel-default events-panel">
                <!-- Header -->
                <div class="panel-heading">
                    <span translate="events.eventsTitle"></span>
                </div>
                <div class="panel-body">
                    <!-- Search bar -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="flex form-group search-group search-group-lg padding-bot-10">
                                <input type="text" class="form-control"
                                    style="display: inline-block; border-color: #1b7bb3;" ng-change="vm.onListFilter()"
                                    ng-model="vm.filterText" translate-attr-placeholder="events.filterEvents" translate>
                            </div>
                        </div>
                        <!-- Filters -->
                        <ace-dropdown-checkbox is-expanded="false" class="col-md-2 checkbox-menu-btn--mt"
                            translation="events.eventTypesDropdownButtonTitle" types="vm.eventTypes"
                            on-value-change="vm.eventTypesChange(types)"></ace-dropdown-checkbox>
                        <ace-dropdown-checkbox is-expanded="false" class="col-md-2 checkbox-menu-btn--mt"
                            translation="events.eventOfficesDropdownButtonTitle" types="vm.officeTypes"
                            on-value-change="vm.officeTypesChange(types)"></ace-dropdown-checkbox>
                    </div>

                    <wave-spinner ng-if="vm.isLoadingControls && !vm.isLoadingEvents"></wave-spinner>

                    <!-- Content -->
                    <wave-spinner ng-if="vm.isLoadingEvents"></wave-spinner>
                    <table class="nc-table nc-table-active" ng-if="!vm.isLoadingEvents && vm.events.pagedList.length">
                        <thead>
                            <tr>
                                <th translate="events.tableTitle"></th>
                                <th translate="events.tableStartDate" class="hidden-xs hidden-sm"></th>
                                <th translate="events.tableEndDate" class="hidden-xs hidden-sm"></th>
                                <th translate="events.tableType" class="hidden-xs hidden-sm"></th>
                                <th translate="events.tableOffices" class="hidden-xs hidden-sm"></th>
                                <th translate="events.tableParticipants"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="event in vm.events.pagedList" class="pointer"
                                ng-click="vm.viewDetails(event.id)">
                                <td class="col-xs-3 word-break" ng-cloak>
                                    {{event.name}}
                                </td>
                                <td class="col-xs-2 hidden-xs hidden-sm" data-test-id="reader-full-name" ng-cloak>
                                    {{event.startDate | amUtc | amLocal | amDateFormat:'YYYY-MM-DD HH:mm'}}
                                </td>
                                <td class="col-xs-2 hidden-xs hidden-sm" data-test-id="book-quantity-left" ng-cloak>
                                    {{event.endDate | amUtc | amLocal | amDateFormat:'YYYY-MM-DD HH:mm'}}
                                </td>
                                <td class="col-xs-2 hidden-xs hidden-sm" data-test-id="book-quantity-left" ng-cloak>
                                    {{event.typeName}}
                                </td>
                                <td class="col-xs-2 hidden-xs hidden-sm" data-test-id="book-quantity-left" ng-cloak>
                                    {{event.officeNames.join(', ')}}
                                </td>
                                <td class="col-xs-2" data-test-id="book-quantity-left" ng-cloak>
                                    {{event.participantsCount}}/{{event.maxParticipants}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ace-list-pagination total-item-count="vm.events.itemCount" page-size="vm.events.pageSize"
                        page-count="vm.events.pageCount" current-page="vm.page" on-changed="vm.changePage(page)">
                    </ace-list-pagination>
                </div>
            </div>
        </div>
    </div>
</ui-view>
