<div
    class="row body-container"
    has-permissions="['EVENT_ADMINISTRATION']"
>
    <div class="col-xs-12">
        <div class="panel panel-default events-panel">
            <!-- Header -->
            <div class="panel-heading">
                <span translate="events.eventsTitle"></span>
                <ace-filter-preset
                    ng-if="!vm.areControlsLoading"
                    filter-page-type="{{vm.filterPageType}}"
                    loaded-filter-types="vm.filterTypes"
                    class="pull-right"
                    on-value-change="vm.applyFilterPreset(preset)"
                    modal-size="lg"
                ></ace-filter-preset>
            </div>
            <div class="panel-body">
                <!-- Search bar -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="flex form-group search-group search-group-lg padding-bot-10">
                            <input
                                type="text"
                                class="form-control event-search-bar"
                                ng-change="vm.onSearchFilter()"
                                ng-model="vm.filterText"
                                translate-attr-placeholder="events.filterEvents"
                                translate
                            >
                        </div>
                    </div>

                    <!-- Filters -->
                    <ace-dropdown-checkbox
                        is-expanded="false"
                        class="col-md-2 mt-3"
                        translation="events.eventTypesDropdownButtonTitle"
                        types="vm.filterTypes.eventTypes.filters"
                        on-value-change="vm.loadEventsWithNewlyAppliedFilter(types, 'appliedEventTypes')"
                        applied-types="vm.dropdownCheckboxes.eventTypes"
                    >
                    </ace-dropdown-checkbox>

                    <ace-dropdown-checkbox
                        is-expanded="false"
                        class="col-md-2 mt-3"
                        translation="events.eventOfficesDropdownButtonTitle"
                        types="vm.filterTypes.officeTypes.filters"
                        on-value-change="vm.loadEventsWithNewlyAppliedFilter(types, 'appliedOfficeTypes')"
                        applied-types="vm.dropdownCheckboxes.officeTypes"
                    >
                    </ace-dropdown-checkbox>
                </div>

                <wave-spinner ng-if="vm.areControlsLoading && !vm.isLoadingEvents"></wave-spinner>

                <!-- Content -->
                <wave-spinner ng-if="vm.isLoadingEvents"></wave-spinner>
                <table
                    class="nc-table nc-table-active"
                    ng-if="!vm.isLoadingEvents && vm.events.pagedList.length"
                >
                    <thead>
                        <tr>
                            <th translate="events.tableTitle"></th>
                            <th
                                translate="events.tableStartDate"
                                class="hidden-xs hidden-sm"
                            ></th>
                            <th
                                translate="events.tableEndDate"
                                class="hidden-xs hidden-sm"
                            ></th>
                            <th
                                translate="events.tableType"
                                class="hidden-xs hidden-sm"
                            ></th>
                            <th
                                translate="events.tableOffices"
                                class="hidden-xs hidden-sm"
                            ></th>
                            <th translate="events.tableParticipants"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="event in vm.events.pagedList"
                            class="pointer"
                            ng-click="vm.viewDetails(event.id)"
                        >
                            <td
                                class="col-xs-3 word-break"
                                ng-cloak
                            >
                                {{event.name}}
                            </td>
                            <td
                                class="col-xs-2 hidden-xs hidden-sm"
                                ng-cloak
                            >
                                {{event.startDate | amUtc | amLocal |
                                    amDateFormat:'YYYY-MM-DD HH:mm'}}
                            </td>
                            <td
                                class="col-xs-2 hidden-xs hidden-sm"
                                ng-cloak
                            >
                                {{event.endDate | amUtc | amLocal |
                                    amDateFormat:'YYYY-MM-DD HH:mm'}}
                            </td>
                            <td
                                class="col-xs-2 hidden-xs hidden-sm"
                                ng-cloak
                            >
                                {{event.typeName}}
                            </td>
                            <td
                                class="col-xs-2 hidden-xs hidden-sm"
                                ng-cloak
                            >
                                {{event.isForAllOffices ?
                                    ('events.eventForOfficeAll' | translate) :
                                    event.officeNames.join(', ')}}
                            </td>
                            <td
                                class="col-xs-2"
                                ng-cloak
                            >
                                {{event.participantsCount}}/{{event.maxParticipants}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ace-list-pagination
                    total-item-count="vm.events.itemCount"
                    page-size="vm.events.pageSize"
                    page-count="vm.events.pageCount"
                    current-page="vm.page"
                    on-changed="vm.loadEventsOnPage(page)"
                >
                </ace-list-pagination>
            </div>
        </div>
    </div>
</div>
