@using Shrooms.Contracts.Constants
@model Shrooms.Premium.DataTransferObjects.EmailTemplateViewModels.EventDeadlineRemindEmailTemplateViewModel
@{
    Layout = EmailTemplateCacheKeys.HeaderFooterLayout;
}
<tr>
    <td align="center">
        <table align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td align="center" style="text-align:center;padding-left: 10px;padding-right:10px;padding-top: 20px;padding-bottom: 5px;border-bottom: 2px solid #0974B3;width: 280px;">
                        <font style="font-family: 'Segoe UI',Helvetica,Arial,sans-serif; text-align: center;font-size: 18px;color: #0974B3;">
                            Test2
                        </font>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>