<div class="row body-container" has-permissions="['VACATIONS_BASIC']">

    <wave-spinner ng-if="vm.isLoading"></wave-spinner>

    <div class="col-xs-12" ng-if="!vm.isLoading">
        <div class="panel panel-default events-panel">

            <div class="panel-heading">
                <span translate="common.vacations"></span>
            </div>

            <form name="editPostForm" class="panel-body">
                <textarea name="messageBody"
                          class="form-control vacation-textarea"
                          ng-if="vm.editFieldEnabled"
                          msd-elastic
                          type="text"
                          ng-model="vm.editableValue"
                          valid-if-changed="{{vm.content}}" required>
                </textarea>

                <span ng-if="!vm.editFieldEnabled && !vm.isLoading" markdown ng-bind-html="vm.content"></span>
                <p ng-if="!vm.editFieldEnabled && !vm.isLoading && !vm.content" translate="common.noContent"></p>

                <div class="vacation-edit-properties pull-left" ng-if="vm.editFieldEnabled">
                    <a class="vacation-save-property"
                       ng-model="save"
                       ng-disabled="editPostForm.$invalid"
                       ng-click="!editPostForm.$invalid && vm.editContent(vm.editableValue)"
                       translate="common.save">
                    </a>

                    <a ng-click="vm.disableEditor()" translate="common.cancel"></a>
                </div>

                <a ng-click="vm.enableEditor()" ng-if="!vm.editFieldEnabled && vm.allowEdit" translate="common.edit"></a>
            </form>
        </div>
    </div>
</div>
