<div class="row">
    <div class="col-xs-12">
        <h3><span>{{"role.entityNamePlural" | translate}}</span></h3>
        <ace-item-list-filter filter-value="filter.s" on-filtering="onSearch"></ace-item-list-filter>
        <div class="btn-group pull-right" ng-if="allowEdit">
            <a ui-sref="Root.WithOrg.Admin.Roles.Create" class="btn btn-primary" title="{{'common.createNew' | translate}}"><span class="glyphicon glyphicon-plus"></span> <span>{{"common.createNew" | translate}}</span></a>
        </div>
        <table class="table table-grey table-hover table-active" ng-if="roles.itemCount > 0">
            <thead>
                <tr>
                    <th class="col-xs-5">
                        <ace-sort-link on-sort="onSort" sort-dir="filter.dir" sort-field="filter.sort" sort-value="name"><span>{{"role.roleName" | translate}}</span></ace-sort-link>
                    </th>
                    <th class="col-xs-3 text-center" ng-if="allowEdit">
                        {{"common.actions" | translate}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in roles.pagedList">
                    <td>
                        {{role.name}}
                    </td>
                    <td ng-if="allowEdit" class="text-center">
                        <a ui-sref="Root.WithOrg.Admin.Roles.Edit({ roleId : role.id})" class="btn btn-default glyphicon glyphicon-pencil" title="{{'common.edit' | translate}}"></a>
                        <a class="btn btn-danger glyphicon glyphicon-bin delete" ace-confirmation-modal="deleteItem(role)" title="{{'common.delete' | translate}}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ace-item-list-pagination total-item-count="roles.itemCount" page-size="roles.pageSize" current-page="filter" on-changed="getItems"></ace-item-list-pagination>
    </div>
</div>