<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title"><i>{{vm.event.name}}</i>, {{vm.event.endDate | amUtc | amLocal | amDateFormat:'YYYY-MM-DD HH:mm'}}</h3>
</div>
<div class="panel-body">
<form name="eventLeaveForm" class="form-horizontal" autocomplete="off">
    <div class="form-group">
            <label for="description" class="control-label col-xs-12 col-sm-4" translate="events.leaveComment"></label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <textarea id="description" name="description" class="form-control" rows="3" ng-model="vm.comment"></textarea>
            </div>
        </div>
</form>
</div>
<div class="lottery-details-modal-footer">
    <button class="btn btn-danger" ng-click="vm.leave()">
            <span translate="events.eventLeave"></span>
        </button>
<button class="btn btn-default" ng-click="vm.closeModal()" data-test-id="cancel-button-yellow">
    <span translate="common.cancel"></span>
</button>
</div>