<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetrySinks>
    <Add Name="default">
      <TelemetryProcessors>
        <!--<Add Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.AdaptiveSamplingTelemetryProcessor, Microsoft.AI.ServerTelemetryChannel">
                    <MaxTelemetryItemsPerSecond>5</MaxTelemetryItemsPerSecond>
                    <ExcludedTypes>Event</ExcludedTypes>
                </Add>
                <Add Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.AdaptiveSamplingTelemetryProcessor, Microsoft.AI.ServerTelemetryChannel">
                    <MaxTelemetryItemsPerSecond>5</MaxTelemetryItemsPerSecond>
                    <IncludedTypes>Event</IncludedTypes>
                </Add> -->
        <Add Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.SamplingTelemetryProcessor, Microsoft.AI.ServerTelemetryChannel">
          <!-- Set a percentage close to 100/N where N is an integer. -->
          <!-- E.g. 50 (=100/2), 33.33 (=100/3), 25 (=100/4), 20, 1 (=100/100), 0.1 (=100/1000) -->
          <SamplingPercentage>100</SamplingPercentage>
        </Add>
      </TelemetryProcessors>
    </Add>
  </TelemetrySinks>
</ApplicationInsights>