<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <section name="features" type="ReallySimpleFeatureToggle.Configuration.AppConfigProvider.FeatureConfigurationSection, ReallySimpleFeatureToggle" />
    <section name="RegisteredOrganizations" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <!--
    Mailing Service Settings,
    you can use services like SendGrind, for more info visit https://sendgrid.com/
    for testing purposes you can use https://mailtrap.io/
  -->
  <system.net>
    <mailSettings>
      <smtp from="noreply@simoona.com">
        <network host="smtp.mailtrap.io" userName="ac9e3520e718e0" password="9d9bd058c695e6" port="2525" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- App Settings -->
  <appSettings>
    <add key="IsProductionBuild" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CorsOrigin" value="*" />
    <add key="EmailEnabled" value="true" />
    <add key="DefaultOrganizationId" value="1" />
    <!--
      External Login Providers Properties
      needed for social logins
      to enable social logins insert you client id and secret to appropiate places
      the login providers should also be set in the database (Organizations table AuthenticationProviders column (default external provider is Google))
      if not in use keep value empty like value=""
    -->
    <add key="GoogleAccountClientId" value="" />
    <add key="GoogleAccountClientSecret" value="" />
    <add key="FacebookAccountAppId" value="" />
    <add key="FacebookAccountAppSecret" value="" />
    <!--
      Url used to redirect back to Angular application after external login
    -->
    <add key="OAuthRedirectUri" value="http://localhost:3000/" />
    <!--
      Urls for client and api
    -->
    <add key="ClientUrl" value="http://localhost:3000/" />
    <add key="ApiUrl" value="http://localhost:50321" />
    <!-- Token Properties -->
    <add key="AccessTokenLifeTimeInHours" value="120" />
    <add key="RefreshTokenLifeTimeInDays" value="5" />
    <!--
      Google Account Api key needed to get information about books from Google Books,
      you should put your restricted key here and do not use example key forever
    -->
    <add key="GoogleAccountApiKey" value="" />
    <!-- Vacation bot properties -->
    <add key="VacationsBotAuthToken" value="" />
    <add key="VacationsBotHistoryUrl" value="" />
    <!-- Client Ids -->
    <add key="AngularClientId" value="testingAngularClientId" />
    <add key="MobileAppClientId" value="" />

    <!--shroomsapp acc-->
    <add key="DemoAccountDefaultPictureID" value="746afdc0-ea3b-4a94-836e-5e3e7774bca3.jpg" />
    <add key="BasicUsername" value="basicUsername" />
    <add key="BasicPassword" value="basicPassword" />
    
    <add key="CorsOriginsSettingKey" value="" />

    <!-- Endpoints for scheduled jobs -->
    <add key="RecurringEventEndpoint" value="/externalpremiumjobs/updaterecurringevents" />
    <add key="ProcessExpiredLotteries" value="/externalpremiumjobs/ProcessExpiredLotteries" />
    <add key="RemindJoinedEvents" value="/externalpremiumjobs/RemindJoinedEvents" />
    <add key="BirthdayNotificationEndpoint" value="/externaljobs/SendBirthdaysNotifications" />
    <add key="UsersAnonymizationEndpoint" value="/externaljobs/AnonymizeUsers" />
    <add key="ProcessExpiredBlacklistUsersEndpoint" value="/externaljobs/ProcessExpiredBlacklistUsers" />
    <!-- Configuration values for anonymization job -->
    <add key="AnonymizeUsersAfterDays" value="14" />
    <add key="AnonymizeUsersPerRequest" value="10" />
    <!-- Support Email address -->
    <add key="SupportEmail" value="" />
    <add key="EnableAITelemetry" value="false" />
    <add key="AIInstrumentationKey" value="" />
    <add key="BackgroundWorkerSqlPollingIntervalInSeconds" value="5" />
    <add key="AzureSqlExecutionPolicyRetryCount" value="10" />
    <add key="AzureSqlExecutionPolicyMaxDelayInSeconds" value="30" />
  </appSettings>

  <!-- Organization name -->
  <RegisteredOrganizations>
    <add key="test" value="test" />
  </RegisteredOrganizations>

  <!-- Connection strings for database, hangfire and for optional Azure Blob Storage -->
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="test" connectionString="Data Source=.;Integrated Security=True;Connect Timeout=60; MultipleActiveResultSets=True;Database=SimoonaDB;" providerName="System.Data.SqlClient" />
    <add name="BackgroundJobs" connectionString="Data Source=.;Integrated Security=True;Connect Timeout=60; MultipleActiveResultSets=True;Database=SimoonaDBJobs;" providerName="System.Data.SqlClient" />
    <!--
      Azure Blob Storage Connection String
      put your connection string to connectionString parameter,
      if you don't want to use Azure Blob Storage just keep connectionString empty (like connectionString="")
    -->
    <add name="StorageConnectionString" connectionString="" />
  </connectionStrings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" />
    <customErrors mode="Off" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <!--
          Redirect to Azure Blob Storage rule,
          should be used with Azure Blob Storage and if AzureReader2 from ImageResizer isn't used, otherwise feel free to comment it out.
          Put your Azure Blob Storage url to url parameter (like this url="https://your-project.blob.core.windows.net/{R:1}"),
          do not remove {R:1} from the end of url, unless you know what you are doing
        -->
        <!--
        <rule name="Redirect to Azure Blob Storage">
          <match url="^storage/(.*)$"/>
          <action type="Redirect" url="https://your-project.blob.core.windows.net/{R:1}" redirectType="Permanent" />
        </rule>
        -->
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- ImageResize module -->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="deny" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <location path="Picture/Upload">
    <system.web>
      <httpRuntime maxRequestLength="15000" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 5MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="12000000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="admin" inheritInChildApplications="false">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <!-- ImageResizer parameters -->
  <resizer>
    <diskcache autoclean="true" />
    <cleanupStrategy targetItemsPerFolder="400" maximumItemsPerFolder="1000" />
    <clientcache minutes="10080" />
    <plugins>
      <!--
      <add name="AzureReader2" prefix="~/storage" connectionString="" endpoint="https://your-project.blob.core.windows.net/" />
      <add name="AnimatedGifs" />
      <add name="DiskCache" />
      <add name="PrettyGifs" />
    -->
    </plugins>
    <licenses>
      <license>
        <!-- ImageResizer license here -->
      </license>
    </licenses>
  </resizer>
  <nlog>
    <targets async="true">
      <target type="File" name="f1" fileName="C:/temp/Logs/simoona/current.log" archiveFileName="C:/temp/Logs/simoona/{####}.log" archiveEvery="Day" archiveNumbering="Rolling" archiveAboveSize="10000000" maxArchiveFiles="10" layout="[${date}] [${logger}] [${uppercase:${level}}] - ${message} ${exception:format=tostring:maxInnerExceptionLevel=5}" />
      <target type="ApplicationInsightsTarget" name="aiTarget" />
      <target type="Null" name="blackHole" formatMessage="false" />
    </targets>
    <rules>
      <logger name="Hangfire.*" maxlevel="Warn" writeTo="blackHole" final="true" />
      <logger name="*" minlevel="Trace" writeTo="f1" />
      <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    </rules>
    <extensions>
      <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
  </nlog>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <features>
    <add name="Monitors" state="Disabled" />
    <add name="Impersonation" state="Disabled" />
  </features>
</configuration>