<div class="row body-container" has-permissions="['VACATIONS_BASIC']">
    <div class="col-xs-12">
        <div class="panel panel-default events-panel">
            <!-- Header -->
            <div class="panel-heading">
                <span>{{vm.eventDetails.name}}</span>
                <!-- <span translate="events.extensiveDetailsTitle"></span> -->
            </div>

            <wave-spinner ng-if="vm.isLoading && !vm.eventDetails"></wave-spinner>
            <div class="panel-body">
                <!-- Content -->
                <div class="event-description-body">
                    <div class="row" ng-if="!vm.isLoading || vm.eventDetails">

                        <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
                            <img class="event-details-image" alt="{{vm.eventDetails.name}}"
                                ng-src="{{vm.eventDetails.imageName | imageThumb:vm.eventImageSize:'crop'}}"
                                image-loading>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-lg-3 event-details-registration-container">
                            <div data-test-id="event-start-date-label"
                                class="col-xs-12 event-details-start-date text-center">
                                <span translate="events.eventStart"></span>
                            </div>
                            <div data-test-id="event-start-time" class="col-xs-12 event-details-start-time text-center"
                                ng-cloak>
                                {{vm.eventDetails.startDate | amUtc | amLocal | amDateFormat:'HH:mm'}}
                            </div>
                            <div data-test-id="event-start-date" class="col-xs-12 event-details-start-date text-center"
                                ng-cloak>
                                {{vm.eventDetails.startDate | amUtc | amLocal | amDateFormat:'MMMM DD'}}
                            </div>
                            <div class="col-xs-12 nopadding-left nopadding-right event-details-registration">
                                <!-- TODO: figure out if it updates things properly -->
                                <ace-event-status event="vm.eventDetails" is-details="true" is-add-colleague="false">
                                </ace-event-status>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-5 event-details-info-container">
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-clock"></span>
                                <b><span translate="events.eventEndDate"></span>:</b>
                                <span data-test-id="event-end-date" class="event-details-date" ng-cloak>
                                    {{vm.eventDetails.endDate | amUtc | amLocal | amDateFormat:'YYYY-MM-DD HH:mm'}}
                                </span>
                            </div>
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <b><span ng-if="vm.eventDetails.officeNames.length < 2"
                                        translate="events.eventOffice"></span>
                                    <span ng-if="vm.eventDetails.officeNames.length > 1"
                                        translate="events.eventOffices"></span>
                                    :</b>
                                <span data-test-id="event-office" ng-cloak
                                    ng-if="!vm.eventDetails.isForAllOffices && vm.eventDetails.officeNames"
                                    ng-repeat="officeName in vm.eventDetails.officeNames">
                                    {{officeName}}{{$last ? '' :', '}}</span>
                                <span data-test-id="event-office" ng-cloak
                                    ng-if="vm.eventDetails.isForAllOffices || !vm.eventDetails.officeNames.length">{{"events.eventForOfficeAll"
                                    | translate}}</span>
                            </div>
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <b><span translate="events.eventLocation"></span>:</b>
                                <span data-test-id="event-location" ng-cloak>{{vm.eventDetails.location}}</span>
                            </div>
                            <div class="col-xs-12">
                                <span class="glyphicon glyphicon-user"></span>
                                <b><span translate="events.responsiblePerson"></span> :</b>
                                <a ui-sref="Root.WithOrg.Client.Profiles.Details({ id: vm.eventDetails.hostUserId })"><span
                                        data-test-id="event-host" ng-cloak>{{vm.eventDetails.hostFirstName}}
                                        {{vm.eventDetails.hostLastName}}</span></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-xs-12 event-details-description" ng-show="!!vm.eventDetails.description.length">
                        <p markdown ng-bind-html="vm.eventDetails.description"></p>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;" ng-if="vm.loadControls">
                    <ace-dropdown-checkbox class="col-md-2 pull-right"
                        translation="events.eventKudosDropdownButtonTitle" types="vm.kudosTypes"
                        on-value-change="vm.setKudosTypes(types)"></ace-dropdown-checkbox>
                    <ace-dropdown-checkbox class="col-md-2 pull-right"
                        translation="events.eventTypesDropdownButtonTitle" types="vm.eventTypes"
                        on-value-change="vm.setConferenceTypes(types)"></ace-dropdown-checkbox>
                </div>

                <table ng-if="vm.pageContent.length" class="nc-table">
                    <thead>
                        <tr>
                            <th translate="events.tableEmployee"></th>
                            <th translate="events.tableHireDate" class="hidden-xs hidden-sm"></th>
                            <th translate="events.tableQualification" class="hidden-xs hidden-sm"></th>
                            <th translate="events.tablePosition" class="hidden-xs hidden-sm"></th>
                            <th translate="events.tableManager" class="hidden-xs hidden-sm"></th>
                            <th translate="events.tableKudos" class="hidden-xs hidden-sm"></th>
                            <th translate="events.tableConferences" class="hidden-xs hidden-sm"></th>
                            <th translate="events.tableProjects"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="participant in vm.pageContent" ng-click="vm.viewDetails(event.id)">
                            <td class="col-xs-4 word-break" data-test-id="book-title-and-author" ng-cloak>
                                <a ui-sref="Root.WithOrg.Client.Profiles.Details({ id: participant.id })">
                                    <span ng-cloak>{{participant.firstName}} {{participant.lastName}}</span>
                                </a>
                            </td>
                            <td class="col-xs-2 hidden-xs hidden-sm" data-test-id="reader-full-name" ng-cloak>
                                {{participant.employmentDate | amUtc | amLocal | amDateFormat:'YYYY-MM-DD HH:mm'}}
                            </td>
                            <td class="col-xs-2 hidden-xs hidden-sm" data-test-id="book-quantity-left" ng-cloak>
                                {{participant.qualificationLevel || ('events.empty' | translate) }}
                            </td>
                            <td class="col-xs-2 hidden-xs hidden-sm" data-test-id="book-quantity-left" ng-cloak>
                                {{participant.jobTitle || ('events.empty' | translate) }}
                            </td>
                            <td class="col-xs-2 hidden-xs hidden-sm" data-test-id="book-quantity-left" ng-cloak>
                                <a ui-sref="Root.WithOrg.Client.Profiles.Details({ id: participant.managerId })">
                                    <span ng-cloak>{{participant.managerFirstName}}
                                        {{participant.managerLastName}}</span>
                                </a>
                            </td>
                            <td class="col-xs-2 hidden-xs hidden-sm" data-test-id="book-quantity-left" ng-cloak>
                                {{participant.kudos || ('events.empty' | translate) }}
                            </td>
                            <td class="col-xs-2 hidden-xs hidden-sm" data-test-id="book-quantity-left" ng-cloak>
                                <!-- TODO: add working link -->
                                <!-- TODO: events.Empty -->
                                <span ng-if="!participant.previouslyAttendedConferences.length"
                                    translate="events.empty"></span>
                                <ol>
                                    <li
                                        ng-repeat="conference in participant.previouslyAttendedConferences | limitTo: vm.settings.conferences.itemsLength">
                                        <a ui-sref=" Root.WithOrg.Client.Events.EventContent({ id: conference.id })">
                                            {{conference}}
                                        </a>
                                    </li>
                                </ol>

                                <show-more-btn show-array="participant.previouslyAttendedConferences"
                                    show-length="vm.settings.conferences.itemsLength"
                                    min-length="vm.settings.conferences.itemsMinLength" class="profile-show-more">
                                </show-more-btn>
                            </td>
                            <td class="col-xs-2" data-test-id="book-quantity-left" ng-cloak>
                                <!-- TODO: add working link -->
                                <!-- TODO: events.Empty -->
                                <span ng-if="!participant.projects.length" translate="events.empty"></span>

                                <a
                                    ng-repeat="project in participant.projects | limitTo: vm.settings.projects.itemsLength">
                                    {{project}}
                                </a>

                                <show-more-btn show-array="participant.projects"
                                    show-length="vm.settings.projects.itemsLength"
                                    min-length="vm.settings.projects.itemsMinLength" class="profile-show-more">
                                </show-more-btn>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <wave-spinner ng-if="vm.isLoading && !vm.pageContent.length"></wave-spinner>

                <ace-list-pagination total-item-count="vm.eventDetails.extensiveParticipants.length"
                    page-size="vm.pageSize" page-count="vm.eventDetails.extensiveParticipants.length / vm.pageSize"
                    current-page="vm.page" on-changed="vm.changePage(page)">
                </ace-list-pagination>
            </div>
        </div>
    </div>
</div>
