<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{vm.lottery.title}}</h3>
</div>
<div class="modal-body">
    <form role="form" style="margin-left: 15px;">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">
                        <div id="my-pics" class="carousel slide" data-ride="carousel" style="width:300px;margin:auto;">

                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#my-pics" data-slide-to="0" class="active"></li>
                                <li style="margin-left: 5%" ng-repeat="lottery in vm.lottery.images" ng-if="$index > 0"
                                    data-target="#my-pics" data-slide-to="$index"></li>
                                </class>
                            </ol>

                            <!-- Content -->
                            <div class="carousel-inner" role="listbox">

                                <!-- Slide 1 -->
                                <div class="item active">
                                    <img src="{{vm.lottery.images[0] | imageThumb:vm.lotteryImageSize:'crop'}}">
                                </div>

                                <!-- Slide 2 -->
                                <div class="item" ng-repeat="lottery in vm.lottery.images" ng-if="$index > 0">
                                    <img src="{{lottery | imageThumb:vm.lotteryImageSize:'crop'}}">
                                </div>
                            </div>

                            <!-- Previous/Next controls -->
                            <a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
                                <span class="icon-prev" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
                                <span class="icon-next" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-sm-8" style="margin-left: 10px;">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" ng-click="vm.ticketDown()"
                                    data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number"
                                value="{{vm.ticketCount}}" style="text-align: center;" min="1" max="100">
                            <span class="input-group-btn">
                                <button type="button" ng-click="vm.ticketUp()" class="btn btn-default btn-number"
                                    data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                            <button type="button" ng-click="vm.buyTickets()" class="btn btn-primary"><span translate="lotteries.buy"></span></button>
                    </div>
                 <div class="row">
                    <div style="margin-left: 55px;">
                        <label class><span translate="lotteries.totalCost"></span> <b>{{vm.lottery.entryFee * vm.ticketCount}}</b></label>
                    </div>
                </div>
                <div class="row">
                        <div class="lottery-end-date-component">
                            <label style="margin-bottom: 0px; padding-bottom: 0px;"><span translate="lotteries.endDate"></span> <b>{{vm.lottery.endDate | convertToCurrentTimezone | date:'yyyy-MM-dd, HH:mm'}}</b></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body lottery-description">
                        {{vm.lottery.description}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="lottery-details-modal-footer">
    <button class="btn btn-default" ng-click="vm.cancel()" data-test-id="cancel-button-yellow">
        <span translate="common.cancel"></span>
    </button>
</div>