<ul id="walls-sidebar-nav" ng-if="!vm.wallServiceData.isWallListLoading" 
    class="nav nav-sidebar first-level wall-menu-navigation-container">
  <li data-test-id="sidebar-group-walls">
     <span class="glyphicon glyphicon-show-thumbnails"></span><span translate="wall.wallList"></span>
    <ul class="nav second-level">

      <li ng-if="vm.wallServiceData.wallList.length > 1">
        <a ng-click="vm.filterWall(null)"
           ui-sref="Root.WithOrg.Client.Wall.Item.Feed({wall: null, search: null, post: null})"
           ng-class="{active: !vm.state.params.wall && vm.state.includes('Root.WithOrg.Client.Wall.Item.Feed')}"
           translate="wall.all">
        </a>
      </li>

      <li ng-if="vm.wallServiceData.wallList.length > 0">
        <a ng-click="vm.filterWall(null)"
           ui-sref="Root.WithOrg.Client.Wall.All"
           ng-class="{active: !vm.state.params.wall && vm.state.includes('Root.WithOrg.Client.Wall.All')}"
           translate="All walls">
        </a>
      </li>

      <li ng-repeat="wall in vm.wallServiceData.wallList">
        <a ng-click="vm.filterWall(wall.id)"
           ui-sref="Root.WithOrg.Client.Wall.Item.Feed({wall: wall.id, search: null, post: null})"
           ng-class="{active: (wall.id.toString() === vm.state.params.wall.toString()) && vm.state.includes('Root.WithOrg.Client.Wall.Item')}">
          {{::wall.name}}<span ng-if="wall.isNewWall" class="new-wall-badge"></span>
        </a>
      </li>
      
      <ace-discover-walls-menu-button></ace-discover-walls-menu-button>
    </ul>
  </li>
</ul>
