<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<location path="." inheritInChildApplications="false">
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect to luminor" stopProcessing="true">
                  <match url="^dnbbustas/*" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add input="{REQUEST_URI}" pattern="/dnbbustas/logoff" negate="true" />
                  </conditions>
                  <action type="Redirect" url="https://{HTTP_HOST}/dnbbustas/logoff" redirectType="Found" />
                </rule>
                <rule name="robots" stopProcessing="true">
                  <match url="^robots.txt" />
                  <action type="None" />
                </rule>
                <rule name="AngularJS Conditions" stopProcessing="true">
                    <match url="(resources/.*|fonts/.*|images/.*|js/.*|styles/.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="AngularJS Wildcard" enabled="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Remove RESPONSE_Server" >
                    <match serverVariable="RESPONSE_Server" pattern=".+" />
                    <action type="Rewrite" value="" />
                </rule>
            </outboundRules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="deny" />
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</location>
</configuration>
