<span ng-transclude>
    <script type="text/ng-template" id="messageLikeListPopoverTemplate.html" class="popover-likes">
        <div class="popover-likes-title">
            <p class="pull-left bold" translate="{{popoverTitle}}"></p>
            <p class="pull-right likes-title-emoji">{{popoverEmoji}}</p>
        </div>

        <div class="clearfix"></div>

        <ul class="likes-list" data-test-id="likes-popover-ul">
            <li class="popover-likes-list-item" ng-repeat="like in likes|limitTo:popoverLikeCount + 1">

                <a ng-if="$index > 0" class="likes-list-span" data-test-id="like-list-name">
                    {{:: like.fullName}}
                </a>
            </li>

            <p class="likes-list-span blue" ng-if="hiddenUsersCount > 0">
                and {{hiddenUserCount}} more...
            </p>
        </ul>
    </script>
</span>
