.chat-bot-widget {

    .panel-body {
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .chat-bot-widget-header {
        background-color: #F5F5F5;
        color: #1e8ac7;
        text-align: center;
        padding: 1px 10px;
        border-bottom: 1px solid #D0D0D0;
    }

    .chat-bot-messages {
        max-height: 300px;
        overflow-y: auto;

        .message {
            white-space: pre-wrap;
            word-break: break-all;
        }
    }
}
