.lottery-stats-button {
    float: right;
}

.lotteries-modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.lotteries-modal-body-sales {
    width: 100%;
}

.lotteries-modal-list {
    list-style-type: none;
    width: 100%;
    padding-inline-start: 0px;
    padding-bottom: 5%;
    > li {
        border-bottom: 1px solid rgb(221,221,221);
    }
}

.lotteries-modal-table {
    text-align: center;
    th, td > {
        text-align: center;
    }

}