<tr>
    <td align="center">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
            <tbody>
                <tr>
                    <td align="center" style="text-align:center;padding-top: 20px;"><font style="font-family: 'Segoe UI',Helvetica,Arial,sans-serif; text-align: center;font-size: 18px;color: #0974B3;">Birthdays</font></td>
                </tr>
                <tr>
                    <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;">
                            <tbody>
                                <tr>
                                    <td style="border-bottom: 2px solid #0974B3;width: 280px;padding-top: 5px;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td align="center" style="width: 100%;padding-top: 20px;">
        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="box-shadow: 0 1px 0 rgba(0,0,0,.05);border-width: 1px;border-style: solid;border-color: #e7e7e7 #e7e7e7 #dbdbdb; min-height:90px; max-width: 690px;" width="95%">
            <tbody>
                <tr>
                    <td colspan="2" align="center" style="text-align:center;padding:20px 4px 0"><font style="font-family:'Segoe UI',Helvetica,Arial,sans-serif;text-align:center;font-size:16px;color:#0974b3">Good morning! Please do not forget to congratulate these people today:</font></td>
                </tr>
                <tr>
                    <td align="center">
                        <table>
                            @foreach (var employee in Model.Employees)
                            {
                                <tr>
                                    <td style="padding-top: 15px; padding-right: 20px; padding-left: 20px; max-width: 600px;">
                                        <p style="color: #337ab7;text-align: left;font-size: 16px;padding-bottom: 10px;padding-left: 10px;font-family:'Segoe UI',Helvetica,Arial,sans-serif;font-weight:400;word-wrap: break-word;word-break: break-all; word-break: break-word;overflow-wrap: break-word;line-height: 15px;margin: 0 0 0 0;"><a href="@employee.ProfileUrl" style="color: #337ab7;">@HtmlEncode(@employee.FullName)</a></p>
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="20px"></td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>