<div class="col-xs-12" translate-cloak>
    <h3 translate="applicationUser.profiles"></h3>
    <h4 class="alert alert-warning" 
        ng-if="isNewUser"
        translate="applicationUser.newUserWaitingForConfirmation"></h4>
    <uib-tabset>
        <uib-tab heading="{{'applicationUser.userInfo' | translate}}"
                 ng-click="onTabChange('user')">
            <profile-info id="infoPart" model="personalInfo"></profile-info>
        </uib-tab>
        <uib-tab heading="{{'applicationUser.jobInfo' | translate}}"
                 ng-click="onTabChange('job')">
            <job-info id="jobInfo" ng-if="jobInfo.isLoaded" model="jobInfo"></job-info>
        </uib-tab>
        <uib-tab ng-if="hasOfficePermission" 
                 heading="{{'applicationUser.officeInfo' | translate}}" 
                 ng-click="onTabChange('office')">
            <profile-office id="officePart" ng-if="officeInfo.isLoaded" model="officeInfo"></profile-office>
        </uib-tab>
    </uib-tabset>
</div>
