<div class="panel panel-default chat-bot-widget">
    <div class="chat-bot-widget-header">
        <h5 translate="chatBot.aiAgent"></h5>
    </div>

    <div class="panel-body">
        <div id="chatMessages" class="chat-bot-messages">
            <div ng-repeat="message in vm.messages">
                <p class="message" ng-bind-html="vm.formatMessage(message)"></p>
            </div>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="vm.newMessage"
                translate-attr-placeholder="chatBot.sendAMessage" ng-keypress="vm.handleKeyPress($event)">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="vm.sendMessage()" ng-disabled="vm.isLoading">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </div>
</div>
