<div class="text-center" ng-if="vm.isAddColleague">
    <a class="nc-btn nc-btn-default" ng-click="vm.joinEvent(vm.event.id)"
        title="{{'events.eventAddColleaguesButton' | translate}}" data-test-id="event-add-colleagues-button" ng-cloak
        translate-cloak>
        <span class="vismaicon vismaicon-add2-circle"></span><span translate="events.eventAddColleaguesButton"></span>
    </a>
</div>

<!-- Event join states -->
<div class="btn-group event-attend-dropdown-button" ng-if="!vm.isAddColleague && vm.isDetails">
    <div class="btn-group" role="group">
        <button ng-if="vm.event.participatingStatus == vm.attendStatus.Idle"
            class="btn btn-primary dropdown-toggle event-attend-button event-attend-idle-button" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                translate="events.areYouGoing"></span>
            <span class="caret"></span>
        </button>
        <!-- Going -->
        <button ng-if="vm.event.participatingStatus == vm.attendStatus.Attending"
            class="btn btn-primary dropdown-toggle event-attend-button" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-ok">&nbsp;</span><span translate="events.eventAction_Attending"></span>
            <span class="caret"></span>
        </button>

        <!-- Attending virtually -->
        <button ng-if="vm.event.participatingStatus == vm.attendStatus.AttendingVirtually"
            class="btn btn-info dropdown-toggle event-attend-button" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-ok">&nbsp;</span><span translate="events.eventAction_Attending"></span>
            <span class="caret" style="background-position: 0 0;"></span>
        </button>

        <!-- Maybe -->
        <button ng-if="vm.event.participatingStatus == vm.attendStatus.MaybeAttending"
            class="btn btn-primary dropdown-toggle event-attend-button" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-question-sign">&nbsp;</span><span
                translate="events.eventAction_MaybeAttending"></span>
            <span class="caret"></span>
        </button>

        <!-- Not attending -->
        <button ng-if="vm.event.participatingStatus == vm.attendStatus.NotAttending"
            class="btn btn-danger dropdown-toggle event-attend-button" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-remove">&nbsp;</span><span
                translate="events.eventAction_NotAttending"></span>
            <span class="caret"></span>
        </button>

        <!-- Event join dropdown states -->
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-wide participate-dropdown-menu">
            <!-- Attend -->
            <li><a ng-if="vm.event.participatingStatus != vm.attendStatus.Attending" class="nc-btn nc-btn-default"
                    ng-click="vm.joinEvent(vm.event.id, vm.attendStatus.Attending)"
                    translate-attr-title="events.eventJoin" data-test-id="join-event-attending-button" translate>
                    <span class="vismaicon vismaicon-add2-circle"></span><span
                        translate="events.eventAction_Attending"></span></a>
            </li>
            <!-- Attend virtually -->
            <li><a ng-if="vm.event.participatingStatus != vm.attendStatus.AttendingVirtually"
                    class="nc-btn nc-btn-default"
                    ng-click="vm.joinEvent(vm.event.id, vm.attendStatus.AttendingVirtually)"
                    translate-attr-title="events.eventJoin" data-tes t-id="join-event-attending-button" translate>
                    <span class="vismaicon vismaicon-home"></span><span
                        translate="events.eventAction_AttendingVirtually"></span></a>
            </li>
            <!-- Maybe going -->
            <li><a ng-if="vm.event.allowMaybeGoing && vm.event.participatingStatus != vm.attendStatus.MaybeAttending"
                    class="nc-btn nc-btn-default" ng-click="vm.openJoinCommentModal(vm.attendStatus.MaybeAttending)"
                    translate-attr-title="events.eventJoin" data-test-id="join-event-maybeattending-button" translate>
                    <span class="vismaicon vismaicon-help2"></span><span
                        translate="events.eventAction_MaybeAttending"></span></a>
            </li>
            <!-- Not attending -->
            <li><a ng-if="vm.event.allowNotGoing && vm.event.participatingStatus != vm.attendStatus.NotAttending"
                    class="nc-btn nc-btn-danger" ng-click="vm.openJoinCommentModal(vm.attendStatus.NotAttending)"
                    translate-attr-title="events.eventAction_NotAttending" data-test-id="join-event-notattending-button"
                    translate>
                    <span class="vismaicon vismaicon-cancel-circle"></span><span
                        translate="events.eventAction_NotAttending"></span></a>
            </li>
            <li>
                <hr class="event-participate-dropdown-hr-line"
                    ng-if="vm.event.participatingStatus != vm.attendStatus.Idle" />
            </li>
            <!-- Leave -->
            <li><a ng-if="vm.event.participatingStatus != vm.attendStatus.Idle" class="nc-btn nc-btn-danger"
                    ng-click="vm.leaveEvent(vm.event.id, '')" translate-attr-title="events.eventLeave"
                    data-test-id="join-event-leave-button" translate>
                    <span class="vismaicon vismaicon-cancel-circle"></span><span
                        translate="events.eventLeave"></span></a>
            </li>
        </ul>
    </div>
</div>

<ace-event-options-change
    ng-if="vm.event.participatingStatus === vm.attendStatus.Attending && !vm.isAddColleague && vm.isDetails"
    event="vm.event">
</ace-event-options-change>

<div class="text-nowrap row" ng-if="!vm.isAddColleague && !vm.isDetails">
    <div ng-if="!vm.isAttendingEvent()">
        <!-- Join -->
        <div class="col-xs-12" ng-if="!vm.isParticipantsCapacityReached() && vm.isVirtualParticipantsCapacityReached()">
            <a class="nc-btn nc-btn-default" ng-click="vm.joinEvent(vm.event.id, vm.attendStatus.Attending)"
                translate-attr-title="events.eventJoin" data-test-id="join-event-button" translate>
                <span class="vismaicon vismaicon-add2-circle"></span><span translate="events.attend"></span>
            </a>
        </div>
        <!-- Virtual join -->
        <div class="col-xs-12" ng-if="!vm.isVirtualParticipantsCapacityReached() && vm.isParticipantsCapacityReached()">
            <a class="nc-btn nc-btn-default" ng-click="vm.joinEvent(vm.event.id, vm.attendStatus.AttendingVirtually)"
                translate-attr-title="events.eventJoin" data-test-id="join-event-button" translate>
                <span class="vismaicon vismaicon-home"></span><span translate="events.attendVirtually"></span>
            </a>
        </div>

        <!-- Join and virtual join available -->
        <div ng-if="!vm.isVirtualParticipantsCapacityReached() && !vm.isParticipantsCapacityReached()">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="vismaicon vismaicon-other-circle"></span>
            </a>

            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-wide participate-list-dropdown-menu">
                <!-- Attend -->
                <li><a ng-if="vm.event.participatingStatus != vm.attendStatus.Attending" class="nc-btn nc-btn-default"
                        ng-click="vm.joinEvent(vm.event.id, vm.attendStatus.Attending)"
                        translate-attr-title="events.eventJoin" data-test-id="join-event-attending-button" translate>
                        <span class="vismaicon vismaicon-add2-circle"></span><span
                            translate="events.eventAction_Attending"></span></a>
                </li>
                <!-- Attend virtually -->
                <li><a ng-if="vm.event.participatingStatus != vm.attendStatus.AttendingVirtually"
                        class="nc-btn nc-btn-default"
                        ng-click="vm.joinEvent(vm.event.id, vm.attendStatus.AttendingVirtually)"
                        translate-attr-title="events.eventJoin" data-tes t-id="join-event-attending-button" translate>
                        <span class="vismaicon vismaicon-home"></span><span
                            translate="events.eventAction_AttendingVirtually"></span></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Event leave -->
    <a ng-if="vm.isAttendingEvent()" class="nc-btn nc-btn-danger" ng-click="vm.leaveEvent(vm.event.id, '')"
        translate-attr-title="events.eventLeave" data-test-id="leave-event-button" translate>
        <span class="vismaicon vismaicon-cancel-circle"></span><span translate="events.eventLeave"></span>
    </a>
</div>
