<div ng-if="vm.isAddColleague"
     ng-click="vm.joinEvent(vm.event.id)" 
     class="event-add-colleagues-button text-center"
     data-test-id="event-add-colleagues-button">
    <span class="event-add-colleagues-text" translate="events.eventAddColleaguesButton"></span>
</div>

<div class="btn-group event-attend-dropdown-button" ng-if="!vm.isAddColleague && vm.isDetails">
    <div class="btn-group" role="group">
        <button class="btn btn-danger dropdown-toggle event-attend-button"
            ng-if="vm.event.participatingStatus == vm.attendStatus.NotAttending" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-remove">&nbsp;</span><span translate="events.notAttending"></span>
            <span class="caret"></span>
        </button>
        <button ng-if="vm.event.participatingStatus == vm.attendStatus.Idle"
            class="btn btn-primary dropdown-toggle event-attend-button event-attend-idle-button" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span translate="events.willAttend"></span>
            <span class="caret"></span>
        </button>
        <button ng-if="vm.event.participatingStatus == vm.attendStatus.MaybeAttending"
            class="btn btn-primary dropdown-toggle event-attend-button" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-question-sign">&nbsp;</span><span translate="events.maybeAttend"></span>
            <span class="caret"></span>
        </button>
        <button ng-if="vm.event.participatingStatus == vm.attendStatus.Attending"
            class="btn btn-primary dropdown-toggle event-attend-button" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-ok">&nbsp;</span><span translate="events.attending"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-wide">
            <li> <a ng-if="vm.event.participatingStatus != vm.attendStatus.Attending" class="nc-btn nc-btn-default"
                    ng-click="vm.joinEvent(vm.event.id)" translate-attr-title="events.eventJoin"
                    data-test-id="join-event-button" translate>
                    <span class="vismaicon vismaicon-add2-circle"></span><span translate="events.attend"></span></a>
            </li>
            <li><a ng-if="vm.event.participatingStatus != vm.attendStatus.MaybeAttending" class="nc-btn nc-btn-default"
                    ng-click="vm.maybeParticipating(vm.event.id)" translate-attr-title="events.eventJoin"
                    data-test-id="join-event-button" translate>
                    <span class="vismaicon vismaicon-help2"></span><span translate="events.maybeAttend"></span></a></li>
            <li><a ng-if="vm.event.participatingStatus != vm.attendStatus.NotAttending" class="nc-btn nc-btn-danger"
                    ng-click="vm.openLeaveCommentModal()" translate-attr-title="events.eventLeave"
                    data-test-id="leave-event-button" translate>
                    <span class="vismaicon vismaicon-cancel-circle"></span><span translate="events.notAttend"></span></a></li>
        </ul>
    </div>
</div>

<div class="dropdown text-nowrap" ng-if="!vm.isAddColleague && !vm.isDetails">
    <a ng-if="vm.event.participatingStatus != vm.attendStatus.Attending || vm.event.participatingStatus == vm.attendStatus.Idle" class="nc-btn nc-btn-default"
    ng-click="vm.joinEvent(vm.event.id)" translate-attr-title="events.eventJoin"
    data-test-id="join-event-button" translate>
    <span class="vismaicon vismaicon-add2-circle"></span><span translate="events.attend"></span></a>
<a ng-if="vm.event.participatingStatus == vm.attendStatus.Attending" class="nc-btn nc-btn-danger"
    ng-click="vm.openLeaveCommentModal()" translate-attr-title="events.eventLeave"
    data-test-id="leave-event-button" translate>
    <span class="vismaicon vismaicon-cancel-circle"></span><span translate="events.notAttend"></span></a>
</div>
